{% load static %}
<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Village Support Group</h3>
            <p class="font-italic">
              The Youth Academy Cambodia is a group aimed at empowering young professionals by experiencing on:  
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Modern Technology</li>
              <li><i class="icofont-check-circled"></i> Social Accountability</li>
              <li><i class="icofont-check-circled"></i> Social Security</li>
              <li><i class="icofont-check-circled"></i> Management and Leadership</li>
            </ul>
            <p>
              We are working for improving Human Right and Democracy​ in Cambodia.
            </p>
            <a href="#" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->