{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Activities & Events</h2>
          <p>Latest Activities</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          {% for obj in latest %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{ obj.thumbnail.url}}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  {% for cat in obj.category.all %}
                  <h4>{{ cat }}</h4>
                  {% endfor %}
                  <!-- <p class="price">$169</p>-->
                </div>

                <h3><a href="#">{{ obj.title }}</a></h3>
                <p>{{ obj.overview}}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{{ obj.author.profile_picture.url }}" class="img-fluid" alt="">
                    <span>{{obj.author}}</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i></i>&nbsp;{{ obj.timestamp | timesince }}
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Popular Courses Section -->
{% endblock content %}